body {
  margin: 0 auto;
  font-family: sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

main {
  height: 100vh;
  width: 100vw;
}



nav {
  position: sticky;
  top: 0px;
  width: 99vw;
  background: #111;
  height: fit-content;
  padding-block: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h4 {
  color: #fff;
  margin: 0;
}

nav ul {
  list-style: none;

  margin: 0;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    display: inline;
    margin: 0;
    padding: 0;
  }
}



footer {
  background: #f2f2f2;
  padding: 2px 2px;
  font-size: .7em;
  text-align: center;
}

#map {
  height: 300px;
}

h1{
  height: fit-content;
  align-self: flex-start;
  text-align: center;
  
}

p {
  text-align: center;
}